/**
 * @author Waqar Alamgir <waqarcs@yahoo.com>
 */

// Importing compass the real part
@import "compass";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body { font-family: "Open Sans", sans-serif !important; margin: 0; font-size: 14px !important; line-height: 1.5 !important; color: #333; background:#fff; }
a:hover, a:focus { text-decoration: none; }
h3, h4 { margin-top: 1.5em !important; }
label { display: inline-block; margin-right:8px; width:150px; }
textarea { font-family: monospace; }
input[type=color] { width: 40px; padding: 0; margin: 0; height: 20px; position: relative; top: 2px;}
input[type=radio] { margin-top: -3px; }

body {
	#header-wrapper { position:fixed; top:0; left:0; right:0; }
	#wrapper { height:100%; width:100%; }
	#content { width:auto !important; margin:0; height:auto !important; position:absolute; top:71px; left:0; bottom:0; right:0;
		strong { font-size:14px; }
		.mainWindow { font-size:12px; }
	}
}

body { position:absolute; top:10px; left:38px; bottom:10px; right:10px; overflow:hidden;
	.mainWindow { min-width:1200px; width:100%; height:100%; position:relative; overflow:auto; }
	.canvasWindow { position:absolute; top:80px; left:0; bottom:45px; width:49%; margin-right:1%; overflow:hidden;
		#complexity strong { background:#5BB75B; @include border-radius(50%); padding:0px 5px; color:#fff; font-weight:normal; }
		.buttons-positions { margin-top:10px; float:left; clear:both; }
		#loader { display:none; margin-left:10px; }
		#loader.show { display:inline-block; }
	}
	.controlsWindow { position:absolute; top:80px; left:50%; bottom:45px; width:49%; overflow-x:hidden; overflow-y:auto;
		.controlsWindowChild { position:absolute; left:0; right:18px; top:0; height:auto;
			.nav { margin-bottom:0; }
			.tab-content { padding:12px 12px 12px 12px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; @include border-radius(0 0 4px 4px); }
			textarea { resize:none; }
			input, textarea { font-family:'Open Sans', sans-serif; }
			i { font-size:12px; }
			.image_url_p .last { margin-bottom:0; }
			.image_url_p i { margin-bottom:10px; margin-top:3px; display:block; }
			#text-wrapper { display:none;
				textarea { text-align:left; }
			}
			button.selected { font-weight:bold; vertical-align:top; }
		}
	}
	
	.canvas-container { margin-top:0px !important; border:1px solid #ddd; }
	.about { position:absolute; width:100%; bottom:12px; text-align:center; }
}